<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Failed</title>
</head>
<body style="background-color: #E6E6FA;">
<style>
    h1 {font-family: 'Shadows Into Light', cursive;}
</style>
<h1 class="text-center" style="text-align: center;"> Out of stock </h1>

<p class="text-center" style="text-align: center; font-size: 20px;">
    This product is currently out of stock. Click the link below to buy a different item.
</p>

<a href="http://localhost:8080/"> Back to Main Screen</a>
</body>
</html>